.container {
  overflow: visible;
}

.container img,
.container video {
  width: 350px;
  height: 350px;
  transition: transform 0.3s;
  position: relative;
}

.container img:hover,
.container video:hover {
  transform: scale(1.5);
  z-index: 1;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

@media (max-width: 768px) {
  .container img,
  .container video {
    width: 100px;
    height: 100px;
  }

  .container img:hover,
  .container video:hover {
    transform: scale(3);
  }

  .image-grid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust columns for phone screens */
  }
}
