.container {
  overflow: visible;
}

.container img,
.container video,
.youtube-video-wrapper {
  width: 350px;
  height: 350px;
  transition: transform 0.3s;
  position: relative;
}

.container img:hover,
.container video:hover,
.youtube-video-wrapper:hover {
  transform: scale(1.5);
  z-index: 1;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

@media (max-width: 768px) {
  .container img,
  .container video,
  .youtube-video-wrapper {
    width: 100%; 
    height: auto;
    margin: 0 auto;
  }

  .container:hover img,
  .container:hover video,
  .youtube-video-wrapper:hover {
    transform: scale(1.1); /* Reduced scale factor to prevent overlap on mobile */
  }

  .image-grid {
    grid-template-columns: 1fr; /* Make it single column on mobile */
    gap: 20px; /* Increase gap for better spacing */
  }
}

.youtube-video-wrapper {
  width: 350px;
  height: 350px;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio padding */
  overflow: hidden;
  transition: transform 0.3s;
}

.youtube-video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
