

  .nav-item{
    padding-left: 20px;
  }


  .nav-link:hover {
   
    font-weight: bold;  
    transform: translateY(-3px);
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .nav-item {
    padding-left: 10px; 
  }
}
@media (max-width: 768px) {
  .nav-link {
    padding: 10px 5px; 
  }
}
