body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}



.App {
  text-align: center;
  color: black; 
  min-height: 100vh;
  background-color: transparent; 
}

@media (max-width: 768px) {
  .App {
    padding: 10px; 
    font-size: 14px; 
  }
}

