
.custom-btn {
    color: black !important;
    background-color: transparent !important;
    transition: background-color 0.3s ease, color 0.3s ease !important;
    width: 500px !important;
    font-size: 20px !important;
}

.custom-btn:hover {
    background-color: black !important;
    color: white !important;
}

.custom-btn:focus {
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid black !important;
}


.form-control {
    background-color: transparent !important; 
    color: black !important; 
    border: 1px solid black !important; 
    font-family: 'Titan One', sans-serif !important;

}
.custom{
  font-family: 'Titan One', sans-serif !important;
}

.success-msg{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Titan-One', sans-serif;
    color: #333
}

@media (max-width: 768px) {
    .custom-btn {
      width: 100% !important; 
      font-size: 18px !important; 
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @media (max-width: 768px) {
    .success-msg {
      font-size: 18px; 
    }
  }
  @media (max-width: 768px) {
    .form-label {
      font-size: 20px; 
      color: black !important;
    }
  }

